<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">BlogApp</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="/blogs" class="nav-link">Blog</a>
      </li>
    </ul>
  </div>
</nav>