<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
      <div class="container">
        <a href="/" class="navbar-brand">BlogApp</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="/blogs" class="nav-link">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a href="" class="list-group-item list-group-item-action active">Web</a>
            <a href="" class="list-group-item list-group-item-action">Mobil</a>
            <a href="" class="list-group-item list-group-item-action">Veri</a>
            <a href="" class="list-group-item list-group-item-action">Programming</a>
          </div>
        </div>
        <div class="col-md-9">
          <h1 class="h3 mb-3">Home Page</h1>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid" src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Web</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, velit.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid" src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Web</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, velit.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid" src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Web</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, velit.</p>
                </div>
              </div>
            </div>
          </div>
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a href="#" class="page-link">Back</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link active">1</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">Next</a>
              </li>
            </ul>
          </nav>
        </div>
        
      </div>
    </div>
</body>
</html>
